<% layout("/layouts/boilerplate") -%>
<head>
    <link rel="stylesheet" href="/css/user.css">
    <link rel="stylesheet" href="/css/userdetails.css">
    <link rel="stylesheet" href="/css/editTaskBtn.css">
    <title>User: Dashboard</title>
</head>
<body>  
    <% layout("/layouts/loginHeader") -%>
    <div class="details-container">
        <div class="left-card">
            <p>First name: <%=info.first_name%></p>
            <p>Last name: <%=info.last_name%></p>
            <p>Type of user: <%=info.type_of_user%></p>
            <p>Email: <%=info.email%></p>
            <p>Phone number: <%=info.phone_number%></p>
        </div>
        <div class="right-card">
            <div class="card">
                <div class="heading">
                  <p><i class="fa-solid fa-bars-progress"></i> &nbsp;Task Analysis</p>
                </div>
                <div class="task">
                  <span>Assigned Task:
                    <span id="assigned" style="color: #ff9100"><%=totalTaskCount%></span></span>
                  <span>Completed Task:
                    <span id="inprogress" style="color: rgb(0, 255, 0)"><%=totalTaskCount-inProgressTask%></span></span>
                </div>
                <div class="progress">
                  <p style="font-size: 15px">Progress</p>
                  <div class="bar">
                    <div id="meter" class="inner-meter"></div>
                  </div>
                  <div class="information">
                    <p id="result"></p>
                    <p>
                      <%=totalTaskCount-inProgressTask %> / <%= totalTaskCount %> Completed
                    </p>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <div class="table-container">
        <h3>Assigned Tasks</h3>
        <table>
            <tr>
                <th>Task Name</th>
                <th style="width: 40%;">Description</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            
            <% for (t of task) {%>
                <% if(t.status.toString() === "false") {%>
                    <tr>
                        <td><%=t.name%></td>
                        <td><%=t.description%></td>
                        <td><%=t.start_date.toString().split(" ").slice(0,4)%></td>
                        <td><%=t.end_date%></td>
                        <td class="status"> In Progress</td>
                        <td><a href="/user/<%=id%>/<%=t._id%>/editTask" class="edit"><i class="fa-solid fa-user-pen" title="Edit Task Details"></i>Edit Task</a></td>
                    </tr>
                <% } %>
            <%}%>
            <% for (t of task) {%>
                <% if(t.status.toString() === "true") {%>
                    <tr>
                        <td><%=t.name%></td>
                        <td><%=t.description%></td>
                        <td><%=t.start_date.toString().split(" ").slice(0,4)%></td>
                        <td><%=t.end_date%></td>
                        <td class="status">Completed</td>
                        <td><a href="/user/<%=id%>/<%=t._id%>/editTask" class="edit"><i class="fa-solid fa-user-pen" title="Edit Task Details"></i>Edit Task</a></td>
                    </tr>
                <% } %>
            <%}%>
        </table>
    </div>
</body>